# Allow logged-in user to access the Logitech A20 X wireless dongle hidraw device
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="0b35", TAG+="uaccess"
